body{
    margin: 0;
    box-sizing: border-box;
    font-family: ystem-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    ;
}
.container{
    width: 100%;
    display: flex;
}
.sidebar{
    width: 270px;
    border-right: 1px solid lightgray;
    height: 100vh;
    position: fixed;
}
.main{
    width: 100%;
    margin-left: 260px;
}
.insta-logo{
    width: 180px;
    /* border: 1px solid lightgray; */
    margin-left: 8px;
    padding: 16px;
    padding-top: 38px;
}
.sidebar-content{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 220px;
    height: 18px;
    border-radius: 16px;
    margin-left: 8px;
    padding: 16px;
    margin-top: 8px;
    &:hover{
        background-color: #EFEFEF;
    }
}
.sidebar-content h3{
    font-size: 16px;
    font-weight: 400;
}
.more-opt{
    display: flex;
    margin-top: 180px;
    align-items: center;
    gap: 8px;
    width: 220px;
    height: 22px;
    border-radius: 16px;
    margin-left: 8px;
    padding: 16px;
    &:hover{
        background-color: #EFEFEF;
    }
}
.more-opt h3{
    font-size: 16px;
    font-weight: 400;
}
.profile{
    display: flex;
    width: 900px;
    height: 270px;
    /* border: 1px solid lightgray; */
    margin: 12px auto;
    gap: 100px;
    padding: 12px;
}
.profile-logo{
    width: 120px;
    height: 120px;
    padding: 40px;
    border-radius: 30px;
}

.google-logo{
    width: 120px;
    height: 120px;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid lightgray;
}
.profile-desc{
   display: flex;
   gap: 4px;
   align-items: center;
   justify-content: space-between;
}
.post{
    display: flex;
    gap: 4px;
    align-items: center;
}
.followers{
    display: flex;
    gap: 4px;
    align-items: center;
}

.following{
    display: flex;
    gap: 4px;
    align-items: center;
}
.link{
    display: flex;
    gap: 4px;
}
.who-follow{
    color: gray;
    font-size: 12px;
}
.link-desc{
    color: #00376B;
    text-decoration: none;
    font-weight: 500;
}
.profile-content{
    margin-left: -10px;
}
.profile-desc h3{
    font-weight: 400;
}
.profile-info p{
    color: gray;
    font-size: 14px;
}
.profile-info{
    margin-top: -10px;
}
.profile-name{
    font-weight: 600;
    font-size: 14px;
}
.follow-btn{
    width: 83px;
    height: 32px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    background-color: #0095F6;
    color: white;
    border: none;
}
.message-btn{
    width: 83px;
    height: 32px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    background-color: #EFEFEF;
    color: black;
    border: none;
}
.add-btn{
    padding: 8px;
    width: 16px;
    height: 16px;
    background-color: #EFEFEF;
    border-radius: 10px;
}
.status{
    width: 900px;
    height: 130px;
    display: flex;
    gap: 32px;
    /* border: 1px solid lightgray; */
    margin: 40px auto;
    text-align: center;
    padding: -16px;
    margin-top: -10px;
}
.story-img{
    width: 73px;
    height: 73px;
    border-radius: 50%;
    padding: 10px 15px;
}
.name{
    font-size: 12px;
    font-weight: 600;
}
.post-section-nav{
    width: 900px;
    height: 53px;
    display: flex;
    gap: 32px;
    border-top: 1px solid lightgray;
    margin-left: 120px;
    justify-content: center;
}
.posts{
    display: flex;
    gap: 6px;
    padding: 12px;
    align-items: center;
    &:hover{
        cursor: pointer;
        border-top: 1px solid gray;
    }
}
.feeds-container{
    width: 900px;
    margin-left: 120px;
    display: flex;
    gap: 1px;
}
.feed-img{
    width: 300px;
    height: 300px;
    object-fit: ;
}